<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form id="login-form">
      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" required />
      <br />

      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        minlength="8"
        required
      />
      <br />

      <button type="submit">Register</button>
    </form>

    <script>
      document
        .getElementById("login-form")
        .addEventListener("submit", async function (event) {
          event.preventDefault();

          const email = document.getElementById("email").value;
          const password = document.getElementById("password").value;

          const response = await fetch("/api/login", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ email, password }),
          });
          console.log(response);

          const data = await response.json();
          console.log(data);

          if (response.ok) {
            localStorage.setItem("jwtToken", data.token);
            console.log("chegou aqui");
            return;
          }
          return console.error(data.message);
        });
    </script>
  </body>
</html>
